[submodule "vendor/SDL3"]
	path = vendor/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "Engine/vendor/Cpptrace"]
	path = Engine/vendor/Cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
